.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  z-index: 10000;
  

  @include up-to(medium){
    background: transparent;
    color: white;
    backdrop-filter: blur(2px);
  }
  @include at-least(medium){
    background: $white;
    color: black;
  }

  nav {
    position: relative;
    align-items: center;

    .h1 {
      font-size: 4.5rem;
      text-align: start;
    }

    .nav-links,
    .social_link {
      @include up-to(medium) {
        display: none;
      }
    }

    .nav-links {
      align-items: center;

      .link {
        margin-left: 45px;
        font-weight: $bold;
      }
    }

    .social_link {
      a {
        font-size: 3rem;
        margin-left: 10px;
      }
    }

    #burger-btn {
      font-size: 4rem;
      justify-self: end;

      @include at-least(medium) {
        display: none;
      }
    }

  }

  #mobile-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 102px;
    z-index: 10000;
    left: 0;
    height: calc(100vh - 102px);
    width: 100vw;
    background-color: #211F1F;
    align-items: center;
    justify-content: center;
    text-align: center;

    .nav-links {
      .link {
        font-weight: $bold;
        font-size: 3rem;
        margin-bottom: 40px;
      }
    }

    .social_link {
      justify-content: center;
      font-size: 5rem;

      li {
        margin: 0px 10px;
      }
    }
  }
}

#mint {
  background-color: red;
  padding: 30px 99px 20px 99px;
  border-radius: 20px;
  color: $white;
  font-size: 2.5rem;
  width: fit-content;
  font-weight: $bold;
  position: relative;
  img{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
  }
}