@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

$light: 100;
$regular: 400;
$bold: 700;
$black: 900;



html {
  font-size: 62.5%;
  font-family: 'Titillium Web';
}

body {
  font-size: 20px;
  line-height: 1.6;
}

.h1 {
  font-family: 'Neo Tech', sans-serif;
}

.title {
  line-height: 1;
  color: $white;

  @include at-least(medium) {
    font-size: 7rem;
    margin-bottom: 15px;

  }

  @include up-to(medium) {
    font-size: 5rem;
    margin-bottom: 15px;
  }
}

.neontech {
  font-family: 'Neo Tech', sans-serif;
}

.title-box {
  @include at-least(medium) {
    margin-bottom: 80px;
  }

  @include up-to(medium) {
    margin-bottom: 50px;
    text-align: center;
  }

  @include at-least(medium) {
    img {
      width: 20%;
    }
  }

  @include up-to(medium) {
    img {
      width: 55%;
    }
  }
}