@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

$light: 100;
$regular: 400;
$bold: 700;
$black: 900;



html {
  font-size: 62.5%;
  font-family: 'Titillium Web';
}

body {
  font-size: 20px;
  line-height: 1.6;
}

.h1 {
  font-family: 'Neo Tech', sans-serif;
}

.title {
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 15px;
  color: $white;
}

.neontech {
  font-family: 'Neo Tech', sans-serif;
}