.about-module {
  @include at-least(medium) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include up-to(medium) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  align-items: center;
  color: $white;

  figure {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;

    @include up-to(medium) {
      height: 240px;
      margin-bottom: 40px;
    }

    @include at-least(medium) {
      height: 450px;
    }

    img {
      width: 100%;
    }
  }
}