.roadmap-module {
  padding-bottom: 80px;

  .vertical-item-row:first-child {
    .timeline-card-content {
      background-color: $red;
    }

    .eHDQRI {
      background-color: $red;
    }

    .card-sub-title,
    .card-title {
      color: $white;
    }
  }

  .timeline-card-content {
    padding: 35px;
    border-radius: 10px !important;

    @include up-to(medium) {
      margin-bottom: 20px;
    }

    .card-title {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;

      @include at-least(medium) {
        font-size: 3rem;
      }

      @include up-to(medium) {
        font-size: 2.5rem;
      }
    }

    .card-sub-title {
      color: black;

      @include at-least(medium) {
        font-size: 2rem;
      }

      @include up-to(medium) {
        font-size: 1.5rem;
      }
    }

    .card-description {
      display: none;
    }


  }

  .timeline-item-title {
    text-transform: uppercase !important;
    color: $white  !important;

    @include at-least(medium) {
      font-size: 3.5rem !important;
    }

    @include up-to(medium) {
      font-size: 2rem !important;
      margin-bottom: 15px;
    }
  }

  .iFEHXs.active {
    background: none !important;
  }

  .OXRsZ:not(.using-icon).active::after {
    background: transparent !important;
  }

  .dZOxgG::after {
    background: $white  !important;
  }

  .OXRsZ:not(.using-icon) {
    background: $white  !important;
  }
}



@include up-to(medium) {

  .eHDQRI {
    top: 0 !important;
    right: 50% !important;
  }

  .hGKbfr {
    top: 0 !important;
    left: 50% !important;
  }

  .kGtjjr {
    margin: auto !important;
    justify-content: center !important;
  }

  .dZOxgG {
    display: none !important;
  }

  .llAttw.right {
    flex-direction: column;
  }

  .llAttw.left {
    flex-direction: column-reverse;
  }

  .fcBCjT {
    width: 100% !important;
    justify-content: center !important;
  }
}